/* .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  
  .carousel-caption h3 {
    font-size: 24px;
  }
  
  .carousel-caption p {
    font-size: 16px;
  }
   */